<!DOCTYPE html>
<html>
	<head>
		<title>Info Page</title>
	</head>
	<body>
		<h1>Info Page</h1>
        <p>This is the info page: here is some information about me!</p>
        <p> Thought the apostrophe would break it. was probably wrong though</p>
	</body>
</html>